@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary: #294d99; /* Da sidebar azul escura do design */
  --primary-light: #375fac;
  --secondary: #fb8c00; /* Laranja do icone SISPDEC */
  --bg-color: #f4f6f9; /* Fundo cinza clarinho da área de conteúdo principal */
  --text-dark: #2c3e50;
  --text-muted: #7f8c8d;
  --border-color: #e0e6ed;
  --white: #ffffff;
  --success: #2ecc71;
  --warning: #f39c12;
  --danger: #e74c3c;
  --font-base: "Inter", sans-serif;
  --sidebar-w: 260px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-base);
  background-color: var(--bg-color);
  color: var(--text-dark);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-family: var(--font-base);
}

img {
  max-width: 100%;
}

.table-container {
  overflow-x: auto;
}
